extends ./menuU.jade
block main
    main
        h1 Mis datos
        table(class="table table-striped")
            thead
                tr
                    th(scope="col")
                        |Nombre
                    th(scope="col")
                        | !{nom}
            tbody
                tr
                    th(scope="col")|Apellido Paterno
                    th(scope="col")| !{app}
                tr
                    th(scope="col")|Apellido Materno
                    th(scope="col")| !{apm}
                tr
                    th(scope="col")|Email
                    th(scope="col")| !{cor}
                tr
                    th(scope="col")|Nombre de Usuario
                    th(scope="col")| !{usu}
                    
                
                    
                
            
        
                
            
