extends ./menuAd.jade
block main
    main
        h1 Ver Usuarios
        each val, index in nom
            -nombre={val}
            -console.log(nombre)
        table(class="table table-striped")
            thead
                tr
                    th(scope="col")
                        |Nombre
                    th(scope="col")
                        |Apellido Paterno
                    th(scope="col")
                        |Apellido Materno
                    th(scope="col")
                        |Email
                    th(scope="col")
                        |Nombre de Usuario
            tbody
                each val, index in nom
                    tr
                        th(scope="col")| !{val}
                        th(scope="col")| !{app[index]}
                        th(scope="col")| !{apm[index]}
                        th(scope="col")| !{cor[index]}  
                        th(scope="col")| !{usu[index]}
                    
                
                    
                
            
        
                
            
